@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --color-neutral-black: #000000;
  --color-neutral-linen-white: #faf7f2;
  --color-neutral-pure-white: #ffffff;
  --color-neutral-ash-green: #5d6f65;
  --color-neutral-muted-olive: #667a6b;
  --color-neutral-cool-sage: #98baa9;
  --color-neutral-deep-forest-green: #35443e;
  --color-neutral-olive-gray: #647465;
  --color-neutral-sage-mist: #9ab09b;
  --color-neutral-charcoal-green: #28302d;
  --color-neutral-granite: #29312e;
  --color-neutral-outer-space: #263238;
  --color-neutral-slate-blue-green: #3e5059;
  --color-neutral-cool-gray: #717171;
  --color-neutral-ivory-white: #fbfcfc;
  --color-neutral-slate-gray: #455a64;
  --color-neutral-warm-sand: #f2eadd;
  --color-neutral-cloud-white: #f7f6f6;
  --color-neutral-ivory-mist: #fcfcf3;
  --color-neutral-mint-white: #f1f5f4;

  --color-primary-moss-green: #358163;
  --color-primary-forest-green: #507252;
  --color-primary-forest-fern: #307f60;

  --color-secondary-pale-sage: #c5ddd0;
  --color-secondary-muted-sage: #98baa9;
  --color-secondary-deep-fern: #4e625a;
  --color-secondary-light-moss: #adcebe;
  --color-secondary-deep-jade: #387961;
  --color-secondary-olive-gray: #667a6b;

  --color-shade-black: #000000;
  --color-shade-olivewood: #719281;
  --color-shade-light-moss: #adcebe;
  --color-shade-ash-black: #272f2c;
  --color-shade-charcoal-green: #28302d;
  --color-shade-outer-space: #263238;

  --color-tint-pale-sage: #c5ddd0;
  --color-tint-mint-cream: #b6dfc2;
  --color-tint-seafoam-green: #7dba9d;
  --color-tint-beige-cream: #ebe6d3;
  --color-tint-forest-fern: #307f60;
  --color-tint-ash-black: #272f2c;
  --color-tint-warm-sand: #f2eadd;
  --color-tint-cloud-white: #f7f6f6;

  --color-action-fresh-green: #b7dfb8;
  --color-action-soft-rose: #dcbaba;
  --color-action-light-blue: #2196f3;
  --color-action-seafoam-green: #7dba9d;
  --color-action-forest-green: #507252;
  --color-action-fresh-green: #b7dfb8;
  --color-action-soft-rose: #dcbaba;
  --color-action-light-blue: #2196f3;
  --color-action-success-green: #4caf4f;
  --color-action-olive-gray: #667a6b;
  --color-action-moss-green: #358163;
}

html {
  scrollbar-gutter: stable;
}

/* Hide the default browser "reveal password" icon */
input[type="password"]::-ms-reveal,
input[type="password"]::-webkit-password-reveal-button {
  display: none;
  appearance: none;
}

.card {
  @apply lg:bg-neutral-pure-white lg:ring-1 select-none pr-10 pl-10 pt-5 rounded-4xl;
}
.responsiveCardHeading {
  @apply text-shade-charcoal-green lg:text-action-forest-green text-3xl lg:text-4xl font-bold;
}
.inputAuthResponsive {
  @apply bg-secondary-pale-sage/60 lg:bg-secondary-light-moss/20;
}
.textAuthResponsive {
  @apply text-shade-charcoal-green lg:text-action-forest-green;
}
.sideNavBarButton {
  @apply h-12;
}
.horizontalNavBarButton {
  @apply h-12 text-sm;
}
.horizontalNavBarButtonIcons {
  @apply size-10;
}
.mainContentCard {
  @apply h-auto min-h-dvh w-full max-w-4xl shadow-lg/100 p-4;
}

.custom-checkbox {
  position: relative;
  width: 16px;
  height: 16px;
  appearance: none;
  background-color: #fff;
  border: 2px solid var(--color-action-forest-green);
  border-radius: 4px;
  cursor: pointer;
  vertical-align: middle;
  margin-top: 2px;
}
.custom-checkbox:checked {
  background-color: var(--color-action-forest-green);
  border-color: var(--color-action-forest-green);
}
.custom-checkbox:checked::after {
  content: "";
  position: absolute;
  left: 3.5px;
  top: 0px;
  width: 6px;
  height: 10px;
  border: solid #fff;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}
.scrollbar-hidden {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE/Edge */
}
.scrollbar-hidden::-webkit-scrollbar {
  display: none; /* Chrome/Safari */
}

.animation-button {
  @apply transition-all duration-150 ease-in-out active:scale-95;
}
