@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {  
  --color-neutral-black: #000000;
  --color-neutral-linen-white: #FAF7F2;
  --color-neutral-pure-white: #FFFFFF;
  --color-neutral-ash-green: #5D6F65;
  --color-neutral-muted-olive: #667A6B;
  --color-neutral-cool-sage: #98BAA9;
  --color-neutral-deep-forest-green: #35443E;
  --color-neutral-olive-gray: #647465;
  --color-neutral-sage-mist: #9AB09B;
  --color-neutral-charcoal-green: #28302D;
  --color-neutral-granite: #29312E;
  --color-neutral-outer-space: #263238;
  --color-neutral-slate-blue-green: #3E5059;
  --color-neutral-cool-gray: #717171;
  --color-neutral-ivory-white: #FBFCFC;
  --color-neutral-slate-gray: #455A64;
  --color-neutral-warm-sand: #F2EADD;
  --color-neutral-cloud-white: #F7F6F6;
  --color-neutral-ivory-mist: #FCFCF3;

  --color-primary-moss-green: #358163;
  --color-primary-forest-green: #507252;
  --color-primary-forest-fern: #307F60;

  --color-secondary-pale-sage: #C5DDD0;
  --color-secondary-muted-sage: #98BAA9;
  --color-secondary-deep-fern: #4E625A;
  --color-secondary-light-moss: #ADCEBE;
  --color-secondary-deep-jade: #387961;
  --color-secondary-olive-gray: #667A6B;

  --color-shade-black: #000000;
  --color-shade-olivewood: #719281;
  --color-shade-light-moss: #ADCEBE;
  --color-shade-ash-black: #272F2C;
  --color-shade-charcoal-green: #28302D;
  --color-shade-outer-space: #263238;

  --color-tint-pale-sage: #C5DDD0;
  --color-tint-mint-cream: #B6DFC2;
  --color-tint-seafoam-green: #7DBA9D;
  --color-tint-beige-cream: #EBE6D3;
  --color-tint-forest-fern: #307F60;
  --color-tint-ash-black: #272F2C;
  --color-tint-warm-sand: #F2EADD;
  --color-tint-cloud-white: #F7F6F6;

  --color-action-fresh-green: #B7DFB8;
  --color-action-soft-rose: #DCBABA;
  --color-action-light-blue: #2196F3;
  --color-action-seafoam-green: #7DBA9D;
  --color-action-forest-green: #507252;
  --color-action-fresh-green: #B7DFB8;
  --color-action-soft-rose: #DCBABA;
  --color-action-light-blue: #2196F3;
  --color-action-success-green: #4CAF4F;
  --color-action-olive-gray: #667A6B;
  --color-action-moss-green: #358163;
}

/* Hide the default browser "reveal password" icon */
input[type="password"]::-ms-reveal,
input[type="password"]::-webkit-password-reveal-button {
  display: none;
  appearance: none;
}