@import "tailwindcss";

@theme {  
  --color-neutral-black: #263238;
  --color-neutral-dgrey: #4D4D4D;
  --color-neutral-grey: #717171;
  --color-neutral-lgrey: #89939E;
  --color-neutral-greyblue: #ABBED1;
  --color-neutral-silver: #F5F7FA;
  --color-neutral-white: #FFFFFF;

  --color-primary: #28CB8B;
  --color-secondary: #263238;
  --color-info: #2194f3;

  --color-shade-1: #43A046;
  --color-shade-2: #388E3B;
  --color-shade-3: #237D31;
  --color-shade-4: #1B5E1F;
  --color-shade-5: #103E13;

  --color-tint-1: #66BB69;
  --color-tint-2: #81C784;
  --color-tint-3: #A5D6A7;
  --color-tint-4: #C8E6C9;
  --color-tint-5: #E8F5E9;

  --color-action-warning: #FBC02D;
  --color-action-error: #E53835;
  --color-action-success: #2E7D31;
}
